=form_for([post, post.comments.build]) do |f|
  %div.field
    =f.label "Name"
    %br
    =f.text_field :commenter
  %div.field
    =f.label "Comment"
    %br
    =f.text_area :body
  %div.actions
    =f.submit "Comment"