-posts.each do |post|
  %h2=post.title
  %p posted #{post.created_at.strftime('%B%e, %Y')} by #{post.name}
  %p=raw post.content
  %p
    %b posted in:
    =join_tags(post)

  %p.comment
    #{post.comments.count} COMMENTS &nbsp;&nbsp;&nbsp;&nbsp;
    %img{src: "/assets/comment_up.png", valign: "bottom"}
  =render post.comments

  %h2 Add a comment:
  = render "comments/form", :post => post