%p.about
  %img.about-image{src: "/assets/AboutPage.jpg"}
  Hey guys...Ginnie here.  What makes me tick you ask? The best way to explain ME to you is like this... when I am photographing peoples memories and moments it brings me joy because it brings me to my happy memories.  I cry at weddings because I feel that love with my husband.  I tear up and can’t stop smiling after holding a newborn because it brings me back to my two little girls.  I grin from ear to ear as I “peep” in on an engaged couple giving each other those glances that will eventually lead to the rest of their lives together.
  %br
  %br
  What would my ideal weekend be? 1.  Wake up to two giggling girls crawling under my sheets which then begins a tickle fight.  2.  We would stay in our comfy clothes while we made juevos rancheros for breakfast.   3.  Next we would get into our jeans a t-shirts (not a dressy family at all) and head over to the local farmers market to get some fresh fruits and our famous homemade hummus and pita.  4.  Come back home and on a light and breezy Bakersfield day (hmmm, it is an “ideal” weekend remember?) to chase the girls around in the backyard and play in their fairy garden.  5.  Family nap time will follow while falling asleep to an episode of the Brady Bunch.  6. Dinner time is singing and dancing to the latest Killers track while making homemade pizzas.  7.  The day comes to an end with bubble baths and reading any book pulled from book shelf by the girls.
  %br
  %br
  As I photograph you, we will play, laugh, and have fun.  My goal is to make you forget that I am even photographing you.  I look forward to meeting you and capturing your happy place. :)