// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p.contact {
  padding: 3px;
  font-family: courier new;
  line-height: 20px;
  color: #333;
  font-weight: 100;
}