!!!
%html
  %head
    %title Roots
    =stylesheet_link_tag "application", :media => "all"
    =javascript_include_tag "application"
    =yield :head
    =csrf_meta_tags
  %body
  %div.content
    %div.top-header
      %a{href: "/"}
        %img.logo{src: "/assets/logo.png"}
      %div.nav
        %span>=link_to image_tag('/assets/navbar-1.png'), home_path
        %span>=link_to image_tag('/assets/navbar-2.png'), about_path
        %span>=link_to image_tag('/assets/navbar-3.png'), blog_path
        %span>=link_to image_tag('/assets/navbar-4.png'), home_path
        %span>=link_to image_tag('/assets/navbar-5.png'), home_path
        %span>=link_to image_tag('/assets/navbar-6.png'), home_path
    =yield :top_header
    %div.content-main
      =yield